<ion-tabs>
  <ion-tab-bar slot="bottom" no-bouncing>
    <ion-tab-button tab="home" class="no-ripple">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Entradas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estadisticas" class="no-ripple">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Estadisticas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendario" class="no-ripple">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ajustes" class="no-ripple">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
  